[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "==25.4.0"
backoff = "==2.2.1"
certifi = "==2026.2.25"
charset-normalizer = "==3.4.4"
ciso8601 = "==2.3.3"
idna = "==3.11"
isodate = "==0.7.2"
jsonpath-ng = "==1.8.0"
jsonschema = "==2.6.0"
lxml = "==6.1.0"
platformdirs = "==4.9.2"
python-dateutil = "==2.9.0.post0"
pytz = "==2026.1.post1"
requests = "==2.33.0"
requests-file = "==3.0.1"
requests-toolbelt = "==1.0.0"
simplejson = "==3.20.2"
singer-python = "==6.3.0"
six = "==1.17.0"
urllib3 = "==2.7.0"
zeep = "==4.3.2"
netsuitesdk = {ref = "d6127cb3b2ab744efeead207c0086dba9561ea0b", git = "ssh://git@github.com/symon-ai/netsuite-sdk-py.git"}

[dev-packages]

[requires]
python_version = "3.13"
